<!DOCTYPE html>
{%load staticfiles%}
<html>
  <head>
    <!-- Meta Description -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='author' content="Hitesh Shetty, Ravi Lamkoti & Devdoot Maji">
    <meta name='description' content="Online Proctor Form Project">
    <meta name='keywords' content="vcet,proctor,form,project,vcetproctor">
    <title>{%block title%}{%endblock%}</title>
    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href='{%url "home"%}'>
            <img src="{%static 'img/vcetlogoB.png'%}" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item" href="{%url 'department_view'%}">
              Department
            </a>
            <a class="navbar-item">
              Login
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>{{user.username}}</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>

    {%block section%}
    
    {%endblock%}
  
  </body>
</html>