
{%extends 'src/base.html'%}
{%load staticfiles%}
{%block title%}V.C.E.T | Proctor Form{%endblock%}

{%block section%}
<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    
  </div>

  <div class="hero-body">
    <div class="container">
      <p class="title">
        V.C.E.T Proctor System
      </p>
      <p class="subtitle">
        <a class="is-dark button" href="{%url 'proctor_form'%}">Create Account</a>
        <a class="is-light button" href="#">Update Record</a>
      {% if user.is_student %}
      <a class="is-dark button" href="{%url 'proctor_form'%}">Fill Form</a>
      {%else%}
      <a class="is-dark button" href="{%url 'student_signup'%}">Create Account</a>
      {%endif%}
      </p>
    </div>
  </div>

  
</section>
{%endblock%}
