
{%extends 'src/base.html'%}
{%load staticfiles%}
{%block title%}V.C.E.T | Proctor Form{%endblock%}

{%block section%}
<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    
  </div>

  <div class="hero-body">
    <div class="container">
      <p class="title">
        V.C.E.T Proctor System
      </p>
      <p class="subtitle">
        <button class="is-black button">Create Account</button>
        <button class="is-light
         button">Update Record</button>
      </p>
    </div>
  </div>

  
</section>
{%endblock%}